@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
      min-height: 100vh;
      display: grid;
      place-content: center;
      font-family: 'Inter', sans-serif;
  }
  main {
    background-image: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .slide {
    display: flex;
    flex-direction: row;
    padding: 80px;
    margin-top: 10px;
  }
  .left {
    display: flex;
    flex-direction: column;
    margin: 100px 0px 100px 100px;
    margin-bottom: 240px;
    position: relative;
  }
  .left::before {
    content: "";
    position: absolute;
    background-image: url(./images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 120px;
    height: 70px;
    left: 100px;
  }
  .left .quote {
    margin-top: 50px;
    font-size: 30px;
    color:hsl(243, 41%, 18%,70%);
  }
  .left .writer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .left .writer p {
    color:hsl(240, 38%, 20%);
    margin-right: 10px;
    font-weight: bolder;
    font-size: 1.2rem;

  }
  .left .writer span {
    color:hsl(240, 18%, 77%);
  }
  @media (max-width:400px) {
    main {
        margin-bottom: -750px;
    }
    .slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .left {
        width: 100%;
        margin: 0;
        margin-bottom: 0;
        order: 2;
        display: flex;
        align-items: center;
    }
    .left::before {
        content: "";
        position: absolute;
        background-image: url(./images/pattern-quotes.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 30px;
      }
    .left .quote {
        font-size: 18px;
        width: 90%;
    }
    .left .writer{
display: flex;
flex-direction: column;
    }
  }
  .right {
   position: relative;
   margin: 30px;
   width: 100%;
  }
  .right .image img {
    width: 400px;
    box-shadow: 0px 15px 15px #c4c5da;
  }
  .right .image {
    position: absolute;
left: -100px;
z-index: -1;
  }
  
  .right .image::before {
    content: "";
    position: absolute;
    background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 530px;
    height: 500px;
    z-index: -1;
    top: -50px;
    left: -100px;
    transform: translate(40px,0px);
  }
  .arrows {
    background-color: white;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: -70px;
    transform: translateY(-100px);
    padding: 5px;
  }
  .right .arrows img:hover {
    cursor: pointer;
    background-color: #5948d5;
    border-radius: 50%;
    padding: 5px;
  }
  @media (max-width:400px){
    body {
        min-height: auto;
    }
    .right {
        width: 100%;
        order: 1;
        margin: 0;
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
   .right .image {
    position: relative;
    left: 0;
   }
   .right .image img {
    width: 200px;
   }
   .right .image::before {
    content: "";
    position: absolute;
    background-image: url(./images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 250px;
    z-index: -1;
    top: 0px;
    left: 0px;
    transform: translate(-40px,-40px);
  }
  .arrows {
    background-color: white;
    border-radius: 15px;
    width: 70px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left:40%;
    transform: translateY(20px);
    padding: 5px;
  }
  }